{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="message">Your Message.</label>
      <br>
      <input type = "text" name="message" id="message">
      <br>
      <label for="name">Your Name or Handle</label>
       <br>
      <input type = "text" name="handle" id="handle">
       <br>
      <input type="submit" value="Submit form">
  </form>

  {% if thanks %}
    <br>
    Thanks for submitting a message!
  {% endif %}

  {% if error %}
    <br>
    Oh no, we couldn't use that message!
  {% endif %}

{% endblock %}
  